.hero-bg{
    background-color: #DCEBFF;
}

.card-overlay-1{
     background-color: #FFB8FF;
}


.card-overlay-2{
     background-color: #DCEBFF;
}

.footer-bg{
    background: linear-gradient(90deg,#4DA3FF,#7FB8FF);
}

.footer-field-bg{
        background-color: #7FB8FF;
}

.footer-submit-bg{
    background: linear-gradient(45deg,#60A5FA,#3B82F6);
}